.footer {
  text-align: center;
  background-color: getBgColor('footer');
  padding: 60px 0;
  &__title {
    padding-bottom: 20px;
    /* odstep pod naglowkiem */
    text-transform: uppercase;
    /* napis tylko wielkimi literami */
    color: getColor('footer');
    font-weight: 700;
    font-size: 14px;
  }

  .footer-contact {
    padding-top: 20px;
    padding-bottom: 60px;
    // dla mobilki
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 21px;
    &__address {
      text-decoration: none;
      font-style: normal;
      color: getColor('footer');
    }

    &__link {
      color: getColor('footerWithAlpha');
      text-decoration: none;
      font-style: normal;

      &:hover,
      &:focus {
        color: getColor('active');
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  @include tablet {
    .footer-section {
      display: flex;
      flex-wrap: wrap;
    }
    .footer-address {
      margin-left:61px;
margin-right:144px;
margin-bottom:1px;
    }
  }
  @include desktop {
    text-align: left;

    &__title {
      padding-top: 12px;
    }

    .footer-section {
      /* rozlozenie sekcji z logiem i adresem oraz tekstem i ikonami */
      gap: 70px;
    }
    .footer-address {
      width: fit-content;
      margin:0;
    }
    .footer-contact {
      /* ulozenie czesci z danymi kontaktowymi */
      padding-top: 21px;
      line-height: 1.5;
      width: fit-content;
      gap: 9px;
    }
  }
}
/* 2 sekcja - social media dołącz do nas */
.footer-follow-us {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  // dla mobilki
  .footer-follow-us-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      fill: getColor('footer');
      /* wycentrowanie ikon dla tla /pdswietlenia*/
      width: 44px;
      height: 44px;
      border-radius: 50%;
      /* koło */
      background: getBgColor('iconFooterWithAlpha');
      cursor: pointer;
      caret-color: #c0e;
    }
    &__item:hover,
    &__item:focus {
      background-color: getBgColor('active');
      transition-property: background-color, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @include tablet {

  }
  @include desktop {
    width: 206px;
  }
}

/* 3 sekcja stopki - zapisz się do newslettera */
.footer-subscribe-newsletter {
  @include tablet {
    margin: 0 auto;
  }
  @include desktop {
    padding-left: 8px;
  }
}

.form-newsletter {
  &__input {
    /* szerokosc pola do wpisywania */
    width: 100%;
    padding: 14px 16px;
    /* odstepy wewnatrz pola */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: getBgColor('inputFooter');
    caret-color: #fff;
    /* kolor kursora w inpucie */
    color: #fff;
    /* kolor czcionki - domyslnie czarny */
    line-height: 20px;
  }

  &__btn {
    display: block;
    margin: 20px auto 0;
    padding: 9px 3px 9px 41px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.06em;
    /* button domyslnie ma czcionke domyslna dla przegladarki, wymaga zawsze nadania mimo ze jest w body */
    cursor: pointer;
    background: getBgColor('active');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid getBgColor('active');
    fill: #fff;
    /* wysrodkowanie tekstu z ikona */
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      margin: 0px 24px;
    }
  }
  @include tablet {
    &__input {
      /* szerokosc pola do wpisywania */
      width: 450px;
    }
  }
  @include desktop {
    /* podzial sekcji - 2 czesci */
    display: flex;
    gap: 12px;

    &__input {
      /* szerokosc pola do wpisywania */
      width: 358px;
    }

    &__btn {
      margin-top: 0;
    }
  }
}
