.header {
  padding: 16px 0 15px;
  border-bottom: 1px solid #ececec;

  &__section {
    /* glowny podzial */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation-mobile {
    fill: #000;
    padding-right: -5px;
    &__button {
      border: none;
      background-color: #fff;
      &:hover,
      &:focus {
        fill: getColor('active');
      }
    }
  }
  @include tablet {
    &__section {
      justify-content: left;
    }
    .navigation-mobile {
      display: none;
    }
    padding: 20px 0 19px;
  }
  @include desktop {
    padding: 24px 0;
  }
}

.navigation {
  display: none;

  @include tablet {
    display: flex;
    gap: 60px;
    margin-left: 83px;
    margin-right: 101px;
    /* ulozenie linkow nawigacyjnych */
    /* padding-right: 345px; - zamienione przez justify-item */

    &__link {
      text-decoration: none;
      color: getColor('default');

      font-weight: 500;
      font-size: 14px;

      &:hover,
      &:focus {
        color: getColor('active');
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }

      &--is-active {
        position: relative;
        display: block;
        color: getColor('active');

        &::after {
          content: '';
          position: absolute;
          height: 4px;
          top: 44px;
          left: 0;
          right: 0;
          background-color: getBgColor('active');
          border-radius: 2px;
        }
      }
    }
  }
  @include desktop {
    gap: 46px;
    margin-left: 93px;
    margin-right: 345px;
    &__link {
      &--is-active {
        &::after {
          top: 45px;
          // nie wiem, czasem odstaje, czasem nie, zostawiam tak
        }
      }
    }
  }
}
.contact-header {
  display: none;
  // display: flex;

  @include tablet {
    display: flex;
    gap: 10px;
    flex-direction: column;
    fill: getColor('contact');

    &__item {
      text-decoration: none;
      color: getColor('contact');
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      /* do wysrodkowania ikon w stosunku do tekstu linku */
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover,
      &:focus {
        color: getColor('active');
        fill: currentColor;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        /* zmienne koloru dla ikon */
      }
    }
    @include desktop {
      flex-direction: row;
      gap: 30px;
      align-items: center;
      /* wysrodkowanie w pionie */

      &__item {
        font-size: 14px;
        line-height: 16px;
        /* do wysrodkowania ikon w stosunku do tekstu linku */
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
