.team-header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  @include tablet {
  }
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/* SEKCJA TEAM */
.team-bg {
  background-color: getBgColor('team');
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  /* ulozenie mozliwie do srodka */
  padding-top: 50px;
  // @@@@@@@@@@@@@@@@@@@@@@TO DO ZMIANY
  & img {
    width: 450px;
    height: 460px;
  }
  &__item {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /* efekt cienia */
    background-color: $defaultBgColor;
    text-align: center;
  }

  .team-name {
    /* domyslnie 16px font-size */
    padding-top: 30px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .team-profession {
    /* domyslnie 16px font-size */
    padding-top: 10px;
    padding-bottom: 16px;
    color: getColor('paragraph');
  }

  .team-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* ulozenie ikon z rownymi odstepami */
    padding: 0 32px 30px 32px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: transparent;
      /* transparent - przezroczysty */
      fill: getColor('icon');
      /* kolor ikony */
      cursor: pointer;
      &:hover,
      &:focus {
        fill: getColor('darkBg');
        /* kolor ikony */
        background-color: getBgColor('active');
        transition-property: fill, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  @include tablet {
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /* ulozenie mozliwie do srodka */
    padding-top: 50px;

    &__item {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      /* efekt cienia */
      background-color: $defaultBgColor;
      text-align: center;
    }

    .team-name {
      /* domyslnie 16px font-size */
      padding-top: 30px;
      font-weight: 500;
      padding-bottom: 10px;
      padding-left: 32px;
      padding-right: 32px;
    }

    .team-profession {
      /* domyslnie 16px font-size */
      padding-top: 10px;
      padding-bottom: 16px;
      color: getColor('paragraph');
    }

    .team-social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      /* ulozenie ikon z rownymi odstepami */
      padding: 0 32px 30px 32px;
      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: transparent;
        /* transparent - przezroczysty */
        fill: getColor('icon');
        /* kolor ikony */
        cursor: pointer;
        &:hover,
        &:focus {
          fill: getColor('darkBg');
          /* kolor ikony */
          background-color: getBgColor('active');
          transition-property: fill, background-color;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
}
